DATABASE_URL=sqlite:////data/hr_desk.db
SECRET_KEY=change-me

SUPPORIT_API_URL=
SUPPORIT_TOKEN=

AD_SERVER=
AD_USER=
AD_PASSWORD=
AD_BASE_DN=
AD_DOMAIN=
AD_USE_SSL=true

MAILCOW_API_URL=
MAILCOW_API_KEY=

ZUP_API_URL=
ZUP_USERNAME=
ZUP_PASSWORD=

SEED_ADMIN_ENABLED=true
SEED_ADMIN_EMAIL=utkin@teplocentral.org
SEED_ADMIN_PASSWORD=23solomon7
SEED_ADMIN_ROLE=admin
